<h1>Login</h1>

<% form_tag session_url do %>
  Your Login or Email Address:
  <%= text_field_tag :login, params[:login] %>
  Your Password:
  <%= password_field_tag :password %>
  <%= submit_tag "Login" %>
<% end %>