

<div id="sideBar">
  <h1><%= @page_title = "Play" %></h1>
  <div class="intro">
    <p>Rock or Pop? This or that? It is your choice.<p>
    <p>You will be surprised how much this simple game reveals...<p>
  </div>
</div>  
  
<div id="main">
  <ul class="pairs" id="pairs">
    <%= render @pairs %>
  </ul>
</div>

