
<div id="sideBar">
  <h1><%= @page_title = "Stats" %></h1>
  <div class="intro">
    <p>Find out how a single question fares and who has answered it already.<p>
  </div>
</div>


<div id="main">
  <ul class="pairs">
    <%= render @pair %>
  </ul>

  <% if @pair.users.any? %>
    <h2><%= @pair.users.count %> Users have answered this question</h2>
    <ul class="users">
      <%= render @pair.users %>
    </ul>
  <% else %>
    <p class="none">Nobody has answered this question, yet.</p>
  <% end %>

</div>