
<div id="sideBar">
  <h1><%= @page_title = "Users" %></h1>
  <div class="intro">
    <p>They are all playing.<p>
  </div>
</div>

<div id="main">
  <ul class="users">
    <%= render @users %>
  </ul>
</div>